/* ----- POPPINS FONT Link ----- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ----- VARIABLES ----- */
:root {
  --body-color: rgb(250, 250, 250);
  --color-white: rgb(255, 255, 255);

  --text-color-second: rgb(68, 68, 68);
  --text-color-third: rgb(30, 31, 82);

  --first-color: #435598;
  --first-color-hover: #9794ef;

  --second-color: rgb(33, 6, 93);
  --third-color: rgb(93, 85, 150);
  --first-shadow-color: rgba(0, 0, 0, 0.1);
}

/* ----- BASE ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html {
  scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

/* ---##-- REUSABLE CSS --##--- */

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn {
  font-weight: 500;
  padding: 12px 20px;
  background: #e7e7e7;
  border: none;
  /* border-radius: 10px; */
  width: 233px;
  cursor: pointer;
  transition: 0.4s;
}
.btn_ {
  font-weight: 500;
  padding: 12px 20px;
  background: #243ac6;
  color: white;
  border: none;
  /* border-radius: 10px; */
  cursor: pointer;
  transition: 0.4s;
}
.btn_shfw {
  padding: 12px 20px;
  font-size: 18px;
  background: none;
  border-bottom: 1px solid rgb(25, 139, 40);
  color: rgb(25, 139, 40);
  border: none;
  text-decoration: underline;
  /* border-radius: 10px; */
  cursor: pointer;
  transition: 0.4s;
}

.btn_shfw:hover {
  text-decoration: none;
}
.btn > i {
  margin-left: 10px;
}
.btn:hover {
  background: var(--second-color);
  color: var(--color-white);
}

/* ----- GLOBAL ICONS DESIGN ----- */
i {
  font-size: 16px;
}

/* ------- BASE -------- */
body {
  background: var(--body-color);
}
.container {
  width: 100%;
  position: relative;
}

/* ----- NAVIGATION BAR ----- */
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: var(--body-color);
  padding-inline: 9vw;
  transition: 0.3s;
  z-index: 100;
}
.nav-logo {
  position: relative;
}
.nav-name {
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color-third);
}
.nav-logo span {
  position: absolute;
  top: -15px;
  right: -20px;
  font-size: 5em;
  color: var(--text-color-second);
}
.nav-menu,
.nav_menu_list {
  display: flex;
}
.nav-menu .nav_list {
  list-style: none;
  position: relative;
}
.nav-link {
  text-decoration: none;
  color: var(--text-color-second);
  font-weight: 500;
  padding-inline: 15px;
  margin-inline: 20px;
}
.nav-menu-btn {
  display: none;
}
.nav-menu-btn i {
  font-size: 28px;
  cursor: pointer;
}
.active-link {
  position: relative;
  color: var(--first-color);
  transition: 0.3;
}
.active-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: var(--first-color);
  border-radius: 50%;
}

/* ----- WRAPPER DESIGN ----- */
.wrapper {
  padding-inline: 10vw;
}

/* ----- FEATURED BOX ----- */
.featured-box {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 700px;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
}
.featured-text-card span {
  background: var(--third-color);
  color: var(--color-white);
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
}
.featured-name {
  font-size: 50px;
  font-weight: 600;
  /* color: var(--text-color-second); */
  color: var(--text-color-third);
  margin-block: 20px;
}

.my_input {
  font-weight: 500;
  padding: 12px 20px;
  background: #ffffff;
  color: rgb(57, 78, 133);
  border: 1px solid var(--text-color-third);
  transition: 0.4s;
  width: 300px;
  height: 55px;
}

.featured-box_sub-wrapper {
  width: 80%;
}

.featured-box_reborn {
  background-color: #435598;
  width: 100%;
}

.featured-text-info_ {
  color: white;
}

.my_text_2 {
  color: white;
}

.typedText {
  text-transform: capitalize;
  color: var(--text-color-third);
}
.featured-text-info {
  font-size: 15px;
  margin-bottom: 30px;
  color: var(--text-color-second);
}
.featured-text-btn {
  display: flex;
  gap: 20px;
}

.featured-text-btn_ {
  flex-direction: column;
}

.featured-text-btn > .blue-btn {
  background: var(--first-color);
  color: var(--color-white);
}
.featured-text-btn > .blue-btn:hover {
  background: var(--first-color-hover);
}
.social_icons {
  display: flex;
  margin-top: 5em;
  gap: 30px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.icon:hover {
  color: var(--first-color);
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 80vh;
  width: 50%;
}
.image {
  margin: auto 0;
  width: 380px;
  height: 380px;
  border-radius: 55% 45% 55% 45%;
  /* overflow: hidden; */
  animation: imgFloat 7s ease-in-out infinite;
}
.image img {
  width: 480px;
  height: 380px;
  /* object-fit: cover; */
}
@keyframes imgFloat {
  50% {
    transform: translateY(10px);
    border-radius: 45% 55% 45% 55%;
  }
}
.scroll-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  gap: 5px;
  text-decoration: none;
  color: var(--text-color-second);
  background: var(--color-white);
  border-radius: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.scroll-btn i {
  font-size: 20px;
}

/* ----- MAIN BOX ----- */
.section {
  padding-block: 5em;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}
.col {
  display: flex;
  width: 50%;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header {
  text-align: center;
  margin-bottom: 5em;
}
.top-header h1 {
  font-weight: 600;
  color: var(--text-color-second);
  margin-bottom: 10px;
}
.top-header span {
  color: #999;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color-second);
  margin-bottom: 15px;
}

/* ----- ABOUT INFO ----- */
.about-info_one {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 30px 70px;
  padding-inline: 20px;
  width: 100%;
  color: white;
  background: var(--color-white);
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  background: url("./images/Accounting_Services.png") center/cover;
  border-radius: 20px;
}
.about-info_two {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 30px 70px;
  padding-inline: 20px;
  width: 100%;
  color: white;
  background: var(--color-white);
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  background: url("./images/financial.png") center/cover;
  border-radius: 20px;
}
.about-info_three {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 30px 70px;
  padding-inline: 20px;
  width: 100%;
  color: white;
  background: var(--color-white);
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  background: url("./images/tax.png") center/cover;
  border-radius: 20px;
}
.about-info_four {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 30px 70px;
  padding-inline: 20px;
  width: 100%;
  color: white;
  background: var(--color-white);
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  background: url("./images/audit.png") center/cover;
  border-radius: 20px;
}

.about-info p {
  text-align: center;
  font-size: 15px;
  color: #777;
}
.about-btn button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: var(--first-color);
  color: var(--color-white);
  border-radius: 30px;
}
.about-btn button:hover {
  background: var(--first-color-hover);
}

/* ----- ABOUT / SKILLS BOX ----- */
.skills-box {
  margin: 10px;
}
.skills-header {
  margin-bottom: 30px;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.skills-list span {
  font-size: 14px;
  background: var(--first-color);
  color: var(--color-white);
  padding: 2px 10px;
  border-radius: 5px;
}

/* ----- PROJECTS BOX ----- */
.project-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.project-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 250px;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
}
.project-box > i {
  font-size: 50px;
  color: #00b5e7;
  margin-bottom: 25px;
}
.project-box label {
  font-size: 15px;
  color: #777;
}
.project-box::after,
.contact-info::after {
  content: "";
  position: absolute;
  bottom: -100%;
  background: var(--second-color);
  width: 100%;
  height: 100%;
  transition: 0.4s;
  z-index: 1;
}
.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after {
  bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box > h3,
.project-box:hover.project-box > label {
  color: var(--color-white);
  z-index: 2;
}

/* ----- CONTACT BOX ----- */
.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  height: 315px;
  background: var(--second-color);
  border-radius: 10px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
}
.contact-info > h2 {
  color: var(--color-white);
  margin-bottom: 20px;
}
.contact-info > p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  margin-block: 5px;
}
.contact-info p > i {
  font-size: 18px;
}
.contact-info::after {
  background: var(--color-white);
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {
  color: #777;
  z-index: 2;
}

/* ----- CONTACT FORM ----- */
.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.form-inputs {
  display: flex;
  gap: 10px;
  width: 100%;
}
.input-field {
  width: 50%;
  height: 55px;
  background: transparent;
  border: 2px solid #aaa;
  border-radius: 10px;
  padding-inline: 20px;
  outline: none;
}
textarea {
  width: 100%;
  height: 250px;
  background: transparent;
  border: 2px solid #aaa;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
  resize: none;
}
.form-button > .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--second-color);
  color: var(--color-white);
}
.form-button > .btn:hover {
  background: #19677d;
}
.form-button i {
  font-size: 18px;
  rotate: -45deg;
}

.testimonial {
  width: 555px;
  height: 344px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px -1px #687ecc;
  padding: 22px;
  border-radius: 12px;
}

.icon_user {
  display: flex;
  gap: 11px;
  align-items: center;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------------------------------------------------------------*/

.footer {
  padding-block: 40px 20px;
}

.footer_container {
  background-color: #0a1454;
  color: white;
  padding: 0 63px;
}

.footer_container_ {
  background-color: #4e61da;
  color: white;
  padding: 0 93px;
  margin-top: 138px;
}

.footer_container a {
  text-decoration: none;
  color: white;
}

.footer-link {
  transition: all 0.4s ease-in;
}

.footer-list_ {
  display: flex;
  gap: 12px;
}

.fa-brands {
  font-size: 22px;
  border: 1px solid white;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.fa-brands:hover {
  background-color: #4e61da;
  color: rgb(12, 49, 118);
}

.fa-facebook-f {
  width: 47px;
  text-align: center;
}

.footer-link:hover {
  color: #667cce;
}

.section.footer-top {
  border-block-end: none;
}

.footer-top {
  display: grid;
  gap: 25px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.footer .logo {
  margin-block-end: 25px;
}

.footer-text {
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  line-height: 1.4;
}

.footer-list .h5 {
  font-weight: var(--fw-700);
  margin-block-end: 15px;
}

.footer-list > li {
  list-style: none;
}

.footer-list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-list-item ion-icon {
  font-size: 18px;
  flex-shrink: 0;
}

.footer-link {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  margin-block-start: 8px;
}

.copyright {
  font-size: var(--fs-8);
  margin-block-start: 25px;
}

.copyright-link {
  display: inline-block;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 6rem;
    --fs-2: 4.8rem;
  }

  /**
   * REUSED STYLE
   */

  .section {
    margin-inline: 30px;
  }

  .newsletter-form,
  .btn {
    --fs-6: 2.2rem;
  }

  .newsletter-form .email-field {
    font-size: var(--fs-6);
    padding-inline-end: 170px;
  }

  .btn {
    padding: 14px 30px;
  }

  .section-subtitle {
    font-size: var(--fs-6);
  }

  .has-scrollbar {
    margin-inline: -30px;
    padding-inline: 30px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 15px;
  }

  .scrollbar-item {
    min-width: 40%;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  /**
   * HEADER
   */

  .header {
    padding-block: 30px;
  }

  /**
   * SEARCH BAR
   */

  .search-bar .input-field {
    --fs-1: 3.6rem;
  }

  /**
   * RECOMMENDED POST, FOOTER
   */

  .recommended .grid-list,
  .footer-top {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-brand {
    grid-column: 1 / 4;
  }

  .footer-text {
    max-width: 400px;
    margin-block-end: 20px;
  }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 7.2rem;
    --fs-2: 5.5rem;

    /**
     * radius
     */

    --radius-16: 26px;
  }

  /**
   * REUSED STYLE
   */

  .section {
    margin-inline: 50px;
  }

  .has-scrollbar {
    margin-inline: -50px;
    padding-inline: 50px;
    gap: 15px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 25px;
  }

  .scrollbar-item {
    min-width: 30%;
  }

  .grid-list {
    gap: 40px 15px;
  }

  /**
   * SEARCH BAR
   */

  .search-bar {
    padding: 25px;
  }

  .search-bar .input-field {
    --fs-1: 4.6rem;
  }

  /**
   * RECENT POST
   */

  .top-author {
    display: block;
    text-align: right;
  }

  .recent .title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-block-end: 10px;
  }

  .top-author .avatar-item:not(:first-child) {
    margin-inline-end: -25px;
  }

  .top-author .span {
    color: var(--eerie-black_80);
    font-size: var(--fs-8);
    margin-block-start: 10px;
  }

  .avatar.large {
    border: 6px solid var(--white);
    width: 70px;
  }

  .avatar.large:is(:hover, :focus) {
    transform: translateY(-3px);
  }

  /**
   * RECOMMENDED POST
   */

  .recommended .grid-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
  }

  /**
   * FOOTER
   */

  .footer-top {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-brand {
    grid-column: 1 / 5;
  }

  .footer-link {
    --fs-7: 1.7rem;
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 8.8rem;

    /**
     * spacing
     */

    --section-padding: 60px;
  }

  /**
   * REUSED STYLE
   */

  .section {
    margin-inline: 60px;
  }

  .has-scrollbar {
    margin-inline: -60px;
    padding-inline: 60px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 30px;
  }

  .btn {
    --fs-6: 2.4rem;
    padding: 18px 36px;
  }

  .newsletter-form {
    max-width: 450px;
  }

  .newsletter-form .email-field {
    padding-block: 18px;
    padding-inline-start: 30px;
  }

  .blog-card .card-title {
    padding-inline-end: 15px;
  }

  .blog-card .card-text {
    font-size: unset;
  }

  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
   * HEADER
   */

  .nav-toggle-btn {
    display: none;
  }

  .search-btn .span,
  .header .btn {
    display: block;
  }

  .header .wrapper {
    gap: 10px;
  }

  .search-btn,
  .header .btn {
    --fs-6: 1.8rem;
    padding: 6px 20px;
  }

  .search-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--cultured);
    font-size: var(--fs-6);
    font-weight: var(--fw-500);
    border-radius: var(--radius-pill);
    transition: var(--transition-1);
  }

  .search-btn:is(:hover, :focus) {
    background-color: var(--gainsboro);
  }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline: auto 12px;
  }

  .navbar-list {
    display: flex;
    gap: 8px;
  }

  /**
   * HERO
   */

  .hero {
    padding-block-start: 25px;
  }

  .hero-title {
    margin-block-end: 30px;
  }

  .hero .newsletter-text {
    display: block;
    max-width: 400px;
    color: var(--eerie-black_80);
    line-height: 1.3;
  }

  .hero .wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  /**
   * RECENT POST
   */

  .top-author .avatar {
    width: 85px;
  }

  /**
   * RECOMMENDED POST
   */

  .recommended .grid-list {
    grid-template-columns: repeat(6, 1fr);
  }

  /**
   * NEWSLETTER
   */

  .newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .newsletter .section-title {
    margin-block-end: 0;
  }
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 9.2rem;
    --fs-2: 6rem;
    --fs-3: 2.6rem;
    --fs-4: 2.4rem;
  }

  /**
   * REUSED STYLE
   */

  .section {
    margin-inline: 70px;
  }

  .has-scrollbar {
    margin-inline: -70px;
    padding-inline: 70px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 35px;
  }

  .card-tag {
    --fs-9: 1.4rem;
    padding: 4px 10px;
  }

  .grid-list {
    row-gap: 50px;
  }

  /**
   * HERO
   */

  .section.hero {
    padding-block: 50px 80px;
  }

  .hero-title {
    margin-block-end: 50px;
  }

  /**
   * RECENT POST
   */

  .top-author .avatar {
    width: 100px;
  }

  .recent .btn {
    margin-block-start: 70px;
  }

  /**
   * FOOTER
   */

  .footer-top {
    grid-template-columns: 1fr 0.4fr 0.4fr 0.4fr 0.4fr;
  }

  .footer-brand {
    grid-column: auto;
    padding-inline-end: 100px;
  }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
  .nav-button {
    display: none;
  }
  .nav-menu.responsive {
    left: 0;
  }
  .nav-menu {
    position: fixed;
    top: 80px;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    width: 100%;
    min-height: 450px;
    height: 90vh;
    transition: 0.3s;
  }
  .nav_menu_list {
    flex-direction: column;
  }
  .nav-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .featured-box {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  .featured-text {
    width: 100%;
    order: 2;
    justify-content: center;
    align-content: flex-start;
    min-height: 60vh;
  }
  .social_icons {
    margin-top: 2em;
  }
  .featured-image {
    order: 1;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 65px;
  }
  .image,
  .image img {
    width: 350px;
    height: 250px;
    margin: 41px 0;
    /* display: none; */
  }

  .testimonial {
    width: 273px;
    height: 373px;
    margin-bottom: 212px;
  }

  .featured-text-btn_first {
    margin-bottom: 89px;
  }
  .featured-text-btn {
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .col {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-info,
  .contact-info {
    width: 100%;
  }
  .project-container {
    justify-content: center;
  }
  .project-box {
    width: 80%;
  }
}

/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

@media only screen and (max-width: 540px) {
  .featured-name {
    font-size: 40px;
  }
  .project-box {
    width: 100%;
  }
  .form-inputs {
    flex-direction: column;
  }
  .input-field {
    width: 100%;
  }
}
